body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 241, 223);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  h1 {
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    font-size: 52px;
    font-family: cursive;
    border-bottom: 2px dashed;
    background-color: rgb(250, 229, 189);
  }
}
